# Import All Packages

In [1]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score, accuracy_score , precision_score, classification_report
print("import")

import

# Load DataSets

In [2]:
df = sns.load_dataset("iris")
df.shape

(150, 5)

In [3]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

# Change the Columns in Lower to Upper

In [5]:
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species']
df.columns = df.columns.str.replace("_"," ").str.title()

In [6]:
df.columns

Index(['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width',
       'Species'],
      dtype='object')

In [7]:
df['Species'].value_counts()

Species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

# Split the X and Y

In [8]:
x = df.drop(["Species"], axis=1)
y = df["Species"]

# Model Fit and Prediction

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
model = RandomForestClassifier()

model.fit(x_train, y_train)
predict = model.predict(x_test)
df = x_test.copy()
df['Actual'] = y_test.values
df['Predict'] = predict
    
df.head(10)

,Sepal Length,Sepal Width,Petal Length,Petal Width,Actual,Predict
73,6.1,2.8,4.7,1.2,versicolor,versicolor
18,5.7,3.8,1.7,0.3,setosa,setosa
118,7.7,2.6,6.9,2.3,virginica,virginica
78,6.0,2.9,4.5,1.5,versicolor,versicolor
76,6.8,2.8,4.8,1.4,versicolor,versicolor
31,5.4,3.4,1.5,0.4,setosa,setosa
64,5.6,2.9,3.6,1.3,versicolor,versicolor
141,6.9,3.1,5.1,2.3,virginica,virginica
68,6.2,2.2,4.5,1.5,versicolor,versicolor
82,5.8,2.7,3.9,1.2,versicolor,versicolor

# Checking the Model Accuracy

In [10]:
accuracy = accuracy_score(y_test, predict)
f1 = f1_score(y_test, predict, average='weighted')
precision = precision_score(y_test, predict , average='weighted') 
classification = classification_report(y_test, predict)

print(f"Accuracy   : {accuracy}")
print(f"F1 Score   : {f1}")
print(f"Precision  : {precision}")
print(f"Report     :\n{classification}")

Accuracy   : 1.0
F1 Score   : 1.0
Precision  : 1.0
Report     :
              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        19
  versicolor       1.00      1.00      1.00        13
   virginica       1.00      1.00      1.00        13

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45

# Appling a Neural Networks

In [2]:
!pip3 install torch
print("install")

Requirement already satisfied: torch in d:\anaconda navigators\lib\site-packages (2.8.0)
Requirement already satisfied: filelock in d:\anaconda navigators\lib\site-packages (from torch) (3.17.0)
Requirement already satisfied: typing-extensions>=4.10.0 in d:\anaconda navigators\lib\site-packages (from torch) (4.12.2)
Requirement already satisfied: sympy>=1.13.3 in d:\anaconda navigators\lib\site-packages (from torch) (1.13.3)
Requirement already satisfied: networkx in d:\anaconda navigators\lib\site-packages (from torch) (3.4.2)
Requirement already satisfied: jinja2 in d:\anaconda navigators\lib\site-packages (from torch) (3.1.6)
Requirement already satisfied: fsspec in d:\anaconda navigators\lib\site-packages (from torch) (2025.3.2)
Requirement already satisfied: setuptools in d:\anaconda navigators\lib\site-packages (from torch) (72.1.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in d:\anaconda navigators\lib\site-packages (from sympy>=1.13.3->torch) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in d:\anaconda navigators\lib\site-packages (from jinja2->torch) (3.0.2)
install

# Import All Packages

In [8]:
import pandas as pd
import seaborn as sns
import torch
import torch.optim as optim
import torch.nn as nn
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split


print("import")

import

# Import the Datasets in Seaborns

In [9]:
df = sns.load_dataset("iris")
df.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

In [16]:
y_test

tensor([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2, 0, 2,
        2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 2, 1, 1, 0, 0])

In [19]:
x = df.drop(['species'], axis=1)
y = df['species']


x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)


scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)


encoder = LabelEncoder()
y_train = encoder.fit_transform(y_train)
y_test = encoder.transform(y_test)


x_train = torch.tensor(x_train, dtype=torch.float32)
x_test = torch.tensor(x_test, dtype=torch.float32)
y_train = torch.tensor(y_train, dtype=torch.long)  
y_test = torch.tensor(y_test, dtype=torch.long)


class IrisNN(nn.Module):
    def __init__(self):
        super(IrisNN, self).__init__()
        self.layer1 = nn.Linear(4, 8) 
        self.relu = nn.ReLU()
        self.layer2 = nn.Linear(8, 5) 
        self.layer3 = nn.Linear(5, 3)

    def forward(self, x):
        x = self.relu(self.layer1(x))
        x = self.relu(self.layer2(x))
        x = self.layer3(x)
        return x


model = IrisNN()
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=0.01)


for epoch in range(200):
    optimizer.zero_grad()
    outputs = model(x_train)
    loss = criterion(outputs, y_train)
    loss.backward()
    optimizer.step()
    
    if (epoch+1) % 50 == 0:
        print(f"Epoch [{epoch+1}/100], Loss: {loss.item():.1f}")


with torch.no_grad():
    preds = model(x_test).argmax(dim=1)
    accuracy = (preds == y_test).float().mean()
    print("Test Accuracy:", accuracy.item())

Epoch [50/100], Loss: 0.3
Epoch [100/100], Loss: 0.1
Epoch [150/100], Loss: 0.0
Epoch [200/100], Loss: 0.0
Test Accuracy: 1.0

# Evalivate the model Test Accuracy

In [18]:
with torch.no_grad():
    outputs = model(x_test) 
    preds = torch.argmax(outputs, dim=1)


y_test_flat = y_test.view(-1)


import pandas as pd

df = pd.DataFrame({
    "Actual": [target_names[i] for i in y_test.numpy()],
    "Predict": [target_names[i] for i in preds.numpy()]
})

NameError: name 'target_names' is not defined

In [92]:
df

        Actual     Predict
0   versicolor  versicolor
1       setosa      setosa
2    virginica   virginica
3   versicolor  versicolor
4   versicolor  versicolor
5       setosa      setosa
6   versicolor  versicolor
7    virginica   virginica
8   versicolor  versicolor
9   versicolor  versicolor
10   virginica   virginica
11      setosa      setosa
12      setosa      setosa
13      setosa      setosa
14      setosa      setosa
15  versicolor  versicolor
16   virginica   virginica
17  versicolor  versicolor
18  versicolor  versicolor
19   virginica   virginica
20      setosa      setosa
21   virginica   virginica
22      setosa      setosa
23   virginica   virginica
24   virginica   virginica
25   virginica   virginica
26   virginica   virginica
27   virginica   virginica
28      setosa      setosa
29      setosa      setosa
30      setosa      setosa
31      setosa      setosa
32  versicolor  versicolor
33      setosa      setosa
34      setosa      setosa
35   virginica   virginica
36  versicolor  versicolor
37      setosa      setosa
38      setosa      setosa
39      setosa      setosa
40   virginica   virginica
41  versicolor  versicolor
42  versicolor  versicolor
43      setosa      setosa
44      setosa      setosa